<nav>
  <div class="nav-wrapper blue-grey darken-4">
    <a href="#!" class="brand-logo"><%= link_to(image_tag('bookly.png', size: '220x75', class: "responsive-img"), root_path) %></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Contacts", contacts_path %></li>
      <li><%= admin_dash(current_user) %></li>
      <% if current_user %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Register", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>

    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Contacts", contacts_path %></li>
      <li><%= admin_dash(current_user) %></li>
      <% if current_user %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Register", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
